
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

:root {
  --main-bg-color: brown;
  --font1: "Roboto", sans-serif;
  --font2: "Ubuntu", sans-serif;
}

.font1{
  font-family: var(--font1)
}

.font2{
  font-family: var(--font2);
}

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.btn {
  font-size: 14px;
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 20px;
  font-family: var(--font1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover{
  background-color: rgb(89, 204, 239);
}


.form-input {
  padding: 5px 20px;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 0 13px;
  font-family: var(--font1);
}
